html, body {
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 25px 50px 75px;
}
h1, h2, h3, h4, h5, h6, p {
  color: white;
  font-family: 'Fredoka One', cursive;
}
div {
  background-color: rgba(0,0,0,.6);
  padding: 10px;
}
