html {
  background-size: 100%;
  padding: 25px 50px 75px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  background-clip: center;
  background-attachment: fixed;
  background-position: center;
}
h1, h2, h3, h4, h5, h6, tr, td, p, ul, li {
  color: white;
  font-family: 'Poppins', sans-serif;
}
table {
  width:100%;
}
table, th, td {
  border-bottom: 1px solid rgba(255,255,255,.7);
  border-collapse: collapse;
  padding: 10px;
}
th {
  text-align: left;
  border-bottom: 3px solid rgba(255,255,255,.7);
  font-size: x-large;
}
td > a > img, td > a > iframe {
  height: 24px;
}
tr:hover {
  background-color: rgba(0,0,0,.8);
}
div {
  background-color: rgba(0,0,0,.8);
  padding: 10px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255,255,255,.8);
  color: black;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active), .dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

ul.topnav li a.active {background-color: black; color: white;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

ul.topnav li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255,.8);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul.topnav li.right {float: right;}

a, a:link, a:visited, a:active, a:hover {
	/* this removes the blue color from links on Chrome 7.0.517.41 */
	color: inherit;
	text-decoration: inherit;
}
/*zoom*/
.zoom {
  transition: all .2s ease-in-out; /* Animation */
}
.zoom:hover {
  transform: scale(5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.avatar {
  vertical-align: middle;
  width: 500px;
  height: 500px;
}
