html {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 25px 50px 75px;
}
h1, h2, h3, h4, h5, h6, tr, td, p {
  color: white;
  font-family: 'Fredoka One', cursive;
}
table {
  width:100%;
}
table, th, td {
  border-bottom: 1px solid rgba(255,255,255,.7);
  border-collapse: collapse;
  padding: 10px;
}
th {
  border-bottom: 3px solid rgba(255,255,255,.7);
}
tr:hover {
  background-color: rgba(0,0,0,.6);
}
body {
  background-color: rgba(0,0,0,.6);
  padding: 10px;
}
a, a:link, a:visited, a:active, a:hover {
	/* this removes the blue color from links on Chrome 7.0.517.41 */
	color: inherit;
	text-decoration: inherit;
}
